<style>
  .message-conttent {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha foi solicitada para a sua conta.</p>
  <p>Para definir uma nova senha, clique no link abaixo e siga as instruções:</p>
  <p>
    <a href="{{link}}" target="_blank">Resetar Minha Senha</a>
  </p>
  <p>Caso não tenha feito a solicitação, basta ignorar este email e continuar com a sua senha atual.</p>
  <hr>
  <p>
    Obrigado! <br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
